:root{
    --columns: 16;
    --rows: 16;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #eeeeee;
    padding: 30px;
    margin: 0;
    color: #424242;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

h1{
    font-size: 69px;
    margin: 0;
}

#gridContainer{
    display: grid;
    height: 600px;
    width: 600px;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    box-shadow: 0 0 10px #9e9e9e;
    background-color: white;
}

button{
    color: #424242;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    padding: 10px 25px;
    border-radius: 10px;
}

#footer{
    position: fixed;
    bottom: 0;
    padding-bottom: 15px;
}