:root{
    --columns: 16;
    --rows: 16;
}

body, button{
    color: #424242;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    background-color: #edd4f5;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 30px;
    margin: 0;
}

h1{
    font-size: 80px;
    margin: 0;
}

#header{
    display: flex;
    justify-content: center;
    padding: 30px;
}

#sideBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
    gap: 30px;
}

#gridContainer{
    display: grid;
    height: 750px;
    width: 750px;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    box-shadow: 0 0 10px #9e9e9e;
    background-color: white;
}

button{
    padding: 10px 25px;
    border-radius: 10px;
    width: 270px;
}

#footer{
    display: flex;
    justify-content: center;
    padding: 30px
}